<html>
    <head>
        <style type="text/css" media="screen">
          .done {
             background-color: red
           }
        </style>
    </head>
    <body>
      <div id="demo">
        <h1> {{title | uppercase}} </h1>
        <ul>
          <li v-repeat="todos"
              v-on="click : done = !done"
              class="{{done ? 'done' : ''}}"
              >
              {{content}}
            </li>
        </ul>
      </div>
      <div id="filters">
        <span> {{ message | lowercase | capitalize }} </span>
      </div>
      <ul id="repeat">
          <li v-repeat="items" class="item-{{$index}}">
             {{$index}} - {{parentMsg}} {{childMsg}}
          </li>
      </ul>
      <div id="range">
         <div v-repeat="val"> Hi! {{$index}} </div>
      </div>
      <form id="formDemo">
          <p>
             <input type="text" v-model="msg" value="" lazy />
          </p>
          <p>
            <input type="checkbox" v-model="checked">
            {{checked ? "yes" : "no"}}
          </p>
          <p>
            <input type="radio" name="picked" value="one" v-model="picked">
            <input type="radio" name="picked" value="two" v-model="picked">
            {{picked}}
          </p>
          <p>
             <select v-model="selected" options="myOptions">
             </select>
             {{selected}}
          </p>
          <p>
              <select v-model="multiSelect" multiple>
                <option>one</option>
                <option>two</option>
                <option>three</option>
              </select>
              {{multiSelect}}
          </p>
          <p><pre> data: {{$data | json 2}} </pre> </p>
      </form>
      <div id="debounce-demo">{{msg}}
          <input v-model="msg" debounce="500">
      </div>
    </body>
    <script src="../vue/dist/vue.js" >
    </script>
    <script>
      new Vue({
          el: '#debounce-demo',
          data: { msg: 'edit me' }
      })
      var formVue = new Vue({
         el: '#formDemo',
         data: {
           msg         :  'hi!',
           checked     :  true ,
           picked      :  'one',
           selected    :  'a',
           multiSelect :  ['one','three'],
           myOptions   :  [
               {text : 'A', value: 'a'},
               {text : 'B', value: 'b'}
           ]
         }
      })
      var range = new Vue({
         el: '#range',
         data: {
          val: 3
         }
      })
      var demo = new Vue({
         el : '#demo' ,
         data: {
           title : 'todos',
           todos : [
            {
                 done : true,
                 content : 'Lean JavaScript'
            },
            {
                 done : false,
                 content : 'Lean Vue.js'
            }
           ]
         }
      })

      var filtersDemo = new Vue({
          el : '#filters' ,
          data : {
            message : 'MICHAEL'
          }
      })

      var repeatDemo = new Vue({
         el : '#repeat',
         data:{
           parentMsg : 'Hello',
           items: [
              { childMsg : 'Foo' },
              { childMsg : 'Bar' }
           ]
         }
      })
    </script>

</html>
